* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: red;
    margin: 20px 0;
    padding: 0 20px;
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Pokemon App CSS */

.PokemonsContainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 800px;
    justify-content: space-between;
}

.PokemonsContainer p {
    margin: 0;
}

.PokemonsContainer .pokemon {
    width: 49%;
    overflow: hidden;
    background: #fff;
    background-clip: border-box;
    margin-bottom: 20px;
    border-radius: 0.25rem;
    border: 1px solid blue;
}

.PokemonsContainer .pokemon-name {
    background: yellow;
    text-align: center;
    padding: 10px;
}

.PokemonsContainer .pokemon-name p {
    text-transform: uppercase;
    font-weight: bold;
    color: blue;
    letter-spacing: 1px;
    text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.4);
}

.PokemonsContainer .pokemon-image {
    padding: 20px;
    display: flex;
    min-height: 400px;
    justify-content: center;
    align-items: center;
}

.PokemonsContainer .pokemon-image img {
    max-width: 100%;
    height: auto;
}

.PokemonsContainer .pokemon-attacks {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.PokemonsContainer .pokemon-attacks div {
    min-width: 95px;
    background: yellow;
    color: blue;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    padding: 5px;
    margin: 5px 2px;
    border-radius: 0.5rem;
    justify-content: space-between;
}

.PokemonsContainer .pokemon-meta {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 15px;
}

.PokemonsContainer .pokemon-meta p {
    background: #7bb7b7;
    font-weight: bold;
    color: white;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    padding: 7.5px 15px;
    border-radius: 0.5rem;
}